$textColor: #fff;
$secundaryTextColor: #000;
$darkMetallicBlue: #1b3a58;
$royalViolet: #5a189a;
$champagnePink: #f5baba;
$antiqueGold: #c49f1c;
$buttonBgColor: #8b0000;
$buttonHoverBgColor: #a11212;
$infoBarText: #8b0000;
$infosBarBgColor: #4a4a4f;
